{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head>  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></head>
<script type=text/javascript>
	$(function () {
		$('a#process_input').bind('click', function () {
			$.getJSON('/bg', {
				proglang: $('input[name="proglang"]').val(),
			}, function (data) {
				$("#result").text(data.result);
			});
			return false;
		});
	});
</script>
<body>
	<div class='container'>
		<h3>Welcome! Which is the best programming language of them all?</h3>
		<form><menu type="context" id="supermenu">
			<menuitem label="trial" onclick="alert('Smile please')"></menuitem>
			 <menuitem label="rotate" onclick="rotate()" icon="http://cdn1.iconfinder.com/data/icons/silk2/arrow_rotate_clockwise.png"></menuitem>
			 <menuitem label="resize" onclick="resize()" icon="http://cdn3.iconfinder.com/data/icons/fugue/icon/image-resize.png"></menuitem>
			 <menu label="share">
			   <menuitem label="twitter" onclick="alert('foo')"></menuitem>
			   <menuitem label="facebook" onclick="alert('bar')"></menuitem>
			 </menu>
		   </menu>
		   
		   <a href='#' contextmenu="supermenu">Right click me</a>
			<input type=text size=5 name=proglang>
			<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
		</form>
		<p id=result></p>
	</div>
</body>
{% endblock %}